* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day {
  position: relative;
  background-color: aqua;
  width: 1400px;
  height: 600px;
}

.day>.circle {
  background-color: yellow;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 20px 20px;
}

.night {
  position: relative;
  background-color: black;
  width: 1400px;
  height: 600px;
}

.night>.circle {
  background-color: blueviolet;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 20px 20px;
}


button {
  background-color: #ccc;
  width: 10%;
  height: 50px;
  font-size: large;
  margin-left: calc(100% / 2.2);
}